/* Contact Form */
.contact-section {
    padding: 5rem 15rem 10rem;
}

.contact-section > h2{
    padding-bottom: 2rem;
    text-align: center;
}

.contact-section > p{
    padding: 2rem 0;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

form .title-select {
    height: 4rem;
    width: 80%; 
    border: none;
    border-radius: 15px;
    background-color: var(--KC-brown);
    text-align: left;
    padding: 1rem 1rem;
    text-decoration: none;
    margin-top: 1.5rem;
}

.contact-container form input {
    height: 4rem;
    width: 80%;
    border: none;
    border-radius: 15px;
    background-color: var(--KC-brown);
    text-align: left;
    padding: 1rem 1rem;
    text-decoration: none;
}

.contact-container form input:hover{
    border: 3px solid var(--KC-orange);
}

.contact-container form input:focus {
    border: 3px solid var(--KC-orange);
}

.contact-container form input:last-child:hover{
    border: none;
}

.contact-container form input:last-child:focus {
    border: none;
}


.contact-container form textarea {
    width: 80%;
    height: 15rem;
    border-radius: 15px;
    background-color: var(--KC-brown);
    padding: 1rem 1rem;
    border: none;
}

.contact-container form textarea:hover {
    border: 3px solid var(--KC-orange);
}

.contact-container form textarea:focus {
    border: 3px solid var(--KC-orange);
}

form .error {
    width: 80%;
    margin-top: -1rem;
    margin-left: 2rem;
}

form .success {
    width: 80%;
    margin-top: -1rem;
    margin-left: 2rem;
    text-align: center;
}

.contact-container .button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem 0;
    background-color: var(--KC-orange);
    border-radius: 35px;
    width: 10rem;
    margin: 2rem 0;
    text-align: center;
}

.contact-container .button:hover {
    background-color: var(--KC-orangehover);
}

/* Responsive Contact Form*/
@media screen and (max-width:1200px) {
    .contact-section {
        padding: 10rem 2rem;
    }
}

@media screen and (max-width:850px) {
    .contact-section > h2{
        padding-bottom: 0rem;
    }

    .contact-section > p{
        padding: 2rem 0;
    }

    .contact-container form textarea {
        width: 100%;
    }

    form .title-select {
        width: 100%;
    }

    .contact-container form input {
        width: 100%;
    }

    form .error {
        width: 95%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    form .success {
        width: 95%;
        margin-top: 0rem;
        margin-left: 0rem;
    }
}