/* Contact Form */
.contact-section {
    padding: 5rem 15rem 10rem;
}

.contact-section > h2{
    padding-bottom: 2rem;
    text-align: center;
}

.contact-section > p{
    padding: 2rem 0;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

form .title-select {
    height: 4rem;
    width: 80%; 
    border: none;
    border-radius: 15px;
    background-color: var(--KC-brown);
    text-align: left;
    padding: 1rem 1rem;
    text-decoration: none;
    margin-top: 1.5rem;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    background-image: url(../illustrations/illustration-arrow-down-form.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 95%;
}

select:active {
    border: 3px solid var(--KC-orange);
}

select:hover {
    border: 3px solid var(--KC-orange);
}

/* form i {
    align-self: flex-end;
    margin-right: 120px;
    transform: translateY(-62px);
    height: 0rem;
} */

.contact-container form input {
    height: 4rem;
    width: 80%;
    border: none;
    border-radius: 15px;
    background-color: var(--KC-brown);
    text-align: left;
    padding: 1rem 1rem;
    text-decoration: none;
}

.contact-container form input:hover{
    border: 3px solid var(--KC-orange);
}

.contact-container form input:focus {
    border: 3px solid var(--KC-orange);
}

.contact-container form input:last-child:hover{
    border: none;
}

.contact-container form input:last-child:focus {
    border: none;
}

.contact-container form textarea {
    width: 80%;
    height: 15rem;
    border-radius: 15px;
    background-color: var(--KC-brown);
    padding: 1rem 1rem;
    border: none;
}

.contact-container form textarea:hover {
    border: 3px solid var(--KC-orange);
}

.contact-container form textarea:focus {
    border: 3px solid var(--KC-orange);
}

.checkbox {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 78%;

    a {
        color: var(--KC-orange);
    }

    a:visited {
        color: var(--KC-orange);
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    #box:hover {
        border: 3px solid var(--KC-orange);
    }

    #box:checked ~.new-checkbox {
        background-color: var(--KC-orange);
    }
}

#box {
    /* opacity: 0;
    height: 0;
    width: 0; */
    width: 1.3rem;
    height: auto;
    color: var(--KC-brown);
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

form .error {
    width: 80%;
    margin-top: -1rem;
    margin-left: 2rem;
}

form .success {
    width: 80%;
    margin-top: -1rem;
    margin-left: 2rem;
    text-align: center;
}

.contact-container .button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem 0;
    background-color: var(--KC-orange);
    border-radius: 35px;
    width: 10rem;
    margin: 2rem 0;
    text-align: center;
}

.contact-container .button:hover {
    background-color: var(--KC-orangehover);
}

/* Responsive Contact Form*/
@media screen and (max-width:1200px) {
    .contact-section {
        padding: 10rem 2rem;
    }
}

@media screen and (max-width:850px) {
    .contact-section > h2{
        padding-bottom: 0rem;
    }

    .contact-section > p{
        padding: 2rem 0;
    }

    form i {
        align-self: flex-end;
        margin-right: 25px;
        transform: translateY(-62px);
    }

    .contact-container form textarea {
        width: 100%;
    }

    form .title-select {
        width: 100%;
    }

    .contact-container form input {
        width: 100%;
    }

    .checkbox {
        width: 100%;
    }

    form .error {
        width: 95%;
        margin-top: 0rem;
        margin-left: 0rem;
    }

    form .success {
        width: 95%;
        margin-top: 0rem;
        margin-left: 0rem;
    }
}

@media screen and (max-width:450px) {
    .checkbox {
    gap: 0.5rem;

        .new-checkbox {
            width: 0.9rem;
            height: 0.9rem;
        }
    }
}
